    /* Set the height of the map container */
    #map {
        height: 600px;
        margin-bottom: 1px;
      }
  
      /* Style the prompt inputs */
      .prompt-input {
        margin-bottom: 30px;
        background-color: rgb(255, 255, 255);
        text-decoration: beige;
        text-size-adjust: 20px;
        float: left;
        font-family: sans-serif;
        word-spacing: 0.6px;
        color: #000000;
      }
  
      /* Style the submit button */
      .submit-btn {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: ease-in-out 0.5s;
        float: 20px left;
        background-image: url(https://i.postimg.cc/YqFd6KWs/1.jpg);
      }
      .submit-btn:hover{
        color: rgb(54, 42, 165);
        background-color: black;
      }
